@{
    ViewData["Title"] = "About Us";
}

<h2>About Us</h2>
<p>
    <h4>Made as a school project with ASP.NET Core MVC and Entity Framework Core.</h4>
    <h4>Read the code on <a href="https://github.com/TheSweMaster/OnlinePizzaWebShop">Github</a></h4>
</p>

