@{
    ViewData["Title"] = "Contact Us";
}

<h2>Contact Us</h2>

<h4>
    If you have any questions please contact the Pizza Shop by clicking the links below.
</h4>

<address>
    <strong>Support:</strong> <a href="mailto:Admin@default.com">Admin@default.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
