@model IEnumerable<Pizzas>

@{
    var pageName = "Home Page";
    ViewData["Title"] = pageName;
}

<div class="lead">
    <h2>Welcome to my Pizza Shop!</h2>
</div>
<div>
    <h4>Here's our weekly selection of pizzas.</h4>
</div>

@await Component.InvokeAsync("CarouselMenu")


@*@await Html.PartialAsync("Carousel")

<div class="row">

    @foreach (var pizza in Model)
    {
        @Html.Partial("PieOfTheWeekSummary", pizza)
    }

</div>*@
