
@{
    var ModelName = "Admin Page";
    ViewData["Title"] = ModelName;
}

<h2>@ModelName</h2>

<h3><a asp-controller="Pizzas" asp-action="Index">Pizzas</a></h3>
<h3><a asp-controller="Categories" asp-action="Index">Categories</a></h3>
<h3><a asp-controller="Ingredients" asp-action="Index">Ingredients</a></h3>
<h3><a asp-controller="PizzaIngredients" asp-action="Index">PizzaIngredients</a></h3>
<h3><a asp-controller="Reviews" asp-action="Index">Reviews</a></h3>
<h3><a asp-controller="Orders" asp-action="Index">Orders</a></h3>
<h3><a asp-controller="Admin" asp-action="SeedDatabase">Seed Database</a></h3>
<h3><a asp-controller="Admin" asp-action="ClearDatabase">Clear Database</a></h3>
