@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    @*<form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm"
          method="post" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li><a>Welcome, @User.Identity.Name</a></li>
            @await Component.InvokeAsync("ShoppingCartSummary")
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
        </ul>
    </form>*@
    <ul class="nav navbar-nav navbar-right">
        <li><a href="">Welcome, @User.Identity.Name</a></li>
        @*@await Component.InvokeAsync("ShoppingCartSummary")*@
        <li><a id="logoutLink" asp-controller="Account" asp-action="LogOut">Log Out</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a id="registerLink" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a id="loginLink" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
